*.
!.gitignore
!.travis.yml
home-assistant.log
home-assistant_v2.db
secrets.yaml
deps
known_devices.yaml
plex.conf
entity_registry.yaml
google_calendars.yaml
.storage/
.uuid
.cloud/
.HA_VERSION
.google.token
home-assistant.log
OZW_Log.txt
options.xml
pyozw.sqlite
zwcfg_*.xml*
zwscene.xml
ui-lovelace.yaml
html5_push_registrations.conf
.spotify-token-cache
webostv.conf
webostv_*.conf
esphome/.esphome/
esphome/.pioenvs/
esphome/.piolibdeps/
esphome/*/.piolibdeps/
esphome/lib/
esphome/src/
esphome/platformio.ini
www/snapshot_camera.*
www/community/**
www/*.mp4
custom_components/hacs/
custom_components/**
scripts.yaml
automations.yaml
tts/**
