*.
!.gitignore
!.travis.yml
home-assistant.log
home-assistant_v2.db
secrets.yaml
deps
known_devices.yaml
plex.conf
entity_registry.yaml
google_calendars.yaml
.storage/
.uuid
.cloud/
.HA_VERSION
.google.token
home-assistant.log
OZW_Log.txt
options.xml
pyozw.sqlite
zwcfg_0xd210b3fe.xml
zwscene.xml