- id: '1582191028149'
  alias: Matan lamp random double
  description: ''
  trigger:
  - entity_id: sensor.button1_click
    platform: state
    to: double
  condition: []
  action:
  - data:
      effect: random
    entity_id: light.lamp_matan
    service: light.turn_on
- id: '1583451670861'
  alias: Toy Kitchen Light Toggle
  description: ''
  trigger:
  - entity_id: sensor.button2_click
    platform: state
    to: single
  condition: []
  action:
  - data: {}
    entity_id: light.toy_kitchen_worktop
    service: light.toggle
- id: '1584023805381'
  alias: Turn on Office lights when motion detected
  description: ''
  trigger:
  - entity_id: binary_sensor.office
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: binary_sensor.shabbat
    state: 'off'
  action:
  - data: {}
    entity_id: light.office
    service: light.turn_on
- id: '1584098676501'
  alias: Office light off if no motion
  description: ''
  trigger:
  - entity_id: binary_sensor.office
    for:
      minutes: 10
    platform: state
    to: 'off'
  condition: []
  action:
  - data: {}
    entity_id: light.office
    service: light.turn_off
- id: '1585439816212'
  alias: Floodlight driveway off
  description: ''
  trigger:
  - entity_id: light.floodlight_driveway
    for: 0:02:00
    platform: state
    to: 'on'
  condition: []
  action:
  - data: {}
    entity_id: light.floodlight_driveway
    service: light.turn_off
- id: '1586699296444'
  alias: Sprinkler Button On
  description: ''
  trigger:
  - device_id: 79ee6dc6ce0c4deba28f6801d0d382c3
    discovery_id: 0x000d6ffffe9cd62b click_open
    domain: mqtt
    platform: device
    subtype: open
    type: click
  condition: []
  action:
  - data_template:
      entity_id: switch.{{ states('input_select.sprinkler_zone') }}
    service: switch.turn_on
  - data: {}
    entity_id: input_select.sprinkler_zone
    service: input_select.select_next
- id: '1586699432744'
  alias: Sprinkler Button Off
  description: ''
  trigger:
  - device_id: 79ee6dc6ce0c4deba28f6801d0d382c3
    discovery_id: 0x000d6ffffe9cd62b click_close
    domain: mqtt
    platform: device
    subtype: close
    type: click
  condition: []
  action:
  - entity_id:
    - switch.sprinkler_borders
    - switch.sprinkler_lawn_centre
    - switch.sprinkler_lawn_front_right
    - switch.sprinkler_lawn_rear_left
    service: switch.turn_off
- id: '1587421393917'
  alias: Alarm night armed notify phone
  description: ''
  trigger:
  - entity_id: alarm_control_panel.house_alarm
    platform: state
    to: armed_night
  condition: []
  action:
  - data:
      data:
        actions:
        - action: downstairs_lights_off
          title: Downstairs Lights Off
        - action: all_lights_off
          title: All Lights Off
      message: Night Armed
      title: Alarm
    service: notify.phones
- id: '1587421589723'
  alias: Alarm night armed downstairs lights off
  description: ''
  trigger:
  - event_data:
      action: downstairs_lights_off
    event_type: mobile_app_notification_action
    platform: event
  condition: []
  action:
  - data: {}
    entity_id: script.1587322427644
    service: script.turn_on
  - delay: 00:01:00
  - data: {}
    entity_id: script.1587322427644
    service: script.turn_on
- id: '1587421689953'
  alias: Alarm night armed all lights off
  description: ''
  trigger:
  - event_data:
      action: all_lights_off
    event_type: mobile_app_notification_action
    platform: event
  condition: []
  action:
  - data: {}
    entity_id: script.1587322844982
    service: script.turn_on
  - delay: 00:01:00
  - data: {}
    entity_id: script.1587322844982
    service: script.turn_on
- id: '1587421859717'
  alias: Alarm Disarmed
  description: ''
  trigger:
  - entity_id: alarm_control_panel.house_alarm
    platform: state
    to: disarmed
  condition: []
  action:
  - data:
      message: Disarmed
      title: Alarm
    service: notify.phones
- id: '1587421976922'
  alias: Alarm full armed notify phone
  description: ''
  trigger:
  - entity_id: alarm_control_panel.house_alarm
    platform: state
    to: armed_away
  condition: []
  action:
  - data:
      data:
        actions:
        - action: all_lights_off
          title: All Lights Off
      message: Full Armed
      title: Alarm
    service: notify.phones
- id: '1587422161060'
  alias: Alarm full armed all lights off
  description: ''
  trigger:
  - event_data:
      action: all_lights_off
    event_type: mobile_app_notification_action
    platform: event
  condition: []
  action:
  - data: {}
    entity_id: script.1587322844982
    service: script.turn_on
  - delay: 00:01:00
  - data: {}
    entity_id: script.1587322844982
    service: script.turn_on
- id: '1587422459653'
  alias: Milky Oven Off
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == ((state_attr(''input_datetime.milky_oven_off_time'',
      ''timestamp'') | int ) | timestamp_custom(''%H:%M'', False)) }}'
  condition:
  - condition: and
    conditions:
    - condition: state
      entity_id: binary_sensor.shabbat
      state: 'on'
  action:
  - data:
      event: milky_oven_off
    service: ifttt.trigger
- id: '1587423371245'
  alias: Toy Kitchen Light 10 minute timeout
  description: ''
  trigger:
  - device_id: 7cafdd9430024605bd77db43d3ed3417
    domain: light
    entity_id: light.toy_kitchen_worktop
    for:
      hours: 0
      minutes: 10
      seconds: 0
    platform: device
    type: turned_on
  condition: []
  action:
  - entity_id: light.toy_kitchen_worktop
    service: light.turn_off
- id: '1587423800099'
  alias: Matan Button Lamp On Green Toggle
  description: ''
  trigger:
  - device_id: d87aa95ac09e41d486e5d680bd86951d
    discovery_id: 0x00158d0004255059 click_single
    domain: mqtt
    platform: device
    subtype: single
    type: click
  condition:
  - condition: state
    entity_id: light.lamp_matan
    state: 'off'
  action:
  - data:
      brightness_pct: 100
      color_name: green
    entity_id: light.lamp_matan
    service: light.turn_on
- id: '1587424047005'
  alias: Matan Button Lamp Off Toggle
  description: ''
  trigger:
  - device_id: d87aa95ac09e41d486e5d680bd86951d
    discovery_id: 0x00158d0004255059 click_single
    domain: mqtt
    platform: device
    subtype: single
    type: click
  condition:
  - condition: state
    entity_id: light.lamp_matan
    state: 'on'
  action:
  - device_id: 0ba4e800b0d04af48005696a2f1cfcac
    domain: light
    entity_id: light.lamp_matan
    type: turn_off
- id: '1587424164377'
  alias: Matan Lamp On Timer
  description: ''
  trigger:
  - platform: template
    value_template: '"{{ states(''sensor.time'') == ((state_attr(''input_datetime.matan_lamp_on'',
      ''timestamp'') | int ) | timestamp_custom(''%H:%M'', False)) }}"'
  condition: []
  action:
  - data:
      brightness_pct: 100
      color_name: purple
    entity_id: light.lamp_matan
    service: light.turn_on
- id: '1587424220722'
  alias: Matan Lamp Off Timer
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == ((state_attr(''input_datetime.matan_lamp_off'',
      ''timestamp'') | int ) | timestamp_custom(''%H:%M'', False)) }}'
  condition: []
  action:
  - device_id: 0ba4e800b0d04af48005696a2f1cfcac
    domain: light
    entity_id: light.lamp_matan
    type: turn_off
