substitutions:
  devicename: sonoff_loft

esphome:
  name: $devicename
  platform: ESP8266
  board: esp01_1m
  board_flash_mode: dout

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${devicename}_tmp
  manual_ip:
    static_ip: 192.168.1.211
    gateway: 192.168.1.1
    subnet: 255.255.255.0
  domain: .local

captive_portal:
logger:
api:
ota:

binary_sensor:
  - platform: status
    name: ${devicename}_status
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_1"
    internal: true
    on_press:
      - fan.toggle: ensuite_extractor
  - platform: gpio
    pin:
      number: GPIO9
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_2"
    internal: true
    on_press:
      - fan.toggle: bathroom_extractor
  - platform: gpio
    pin:
      number: GPIO10
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_3"
    internal: true
    on_press:
      - light.toggle: ensuite_mirror
  - platform: gpio
    pin:
      number: GPIO14
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_4"
    internal: true
    on_press:
      - light.toggle: bathroom_mirror

output:
  - platform: gpio
    pin: GPIO12
    id: relay_1
  - platform: gpio
    pin: GPIO5
    id: relay_2
  - platform: gpio
    pin: GPIO4
    id: relay_3
  - platform: gpio
    pin: GPIO15
    id: relay_4

fan:
  - platform: binary
    output: relay_1
    name: Ensuite Extractor
    id: ensuite_extractor
  - platform: binary
    output: relay_2
    name: Bathroom Extractor
    id: bathroom_extractor

light:
  - platform: binary
    name: "Ensuite Mirror"
    output: relay_3
    id: "ensuite_mirror"
  - platform: binary
    name: "Bathroom Mirror"
    output: relay_4
    id: "bathroom_mirror"
