substitutions:
  devicename: sonoff_loft

esphomeyaml:
  name: $devicename
  platform: ESP8266
  board: esp01_1m
  board_flash_mode: dout

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${devicename}_tmp

logger:
api:
ota:

binary_sensor:
  - platform: status
    name: ${devicename}_status

output:
  - platform: gpio
    pin: GPIO12
    id: relay_1
  - platform: gpio
    pin: GPIO5
    id: relay_2
  - platform: gpio
    pin: GPIO4
    id: relay_3
  - platform: gpio
    pin: GPIO15
    id: relay_4

fan:
  - platform: binary
    output: relay_1
    name: sonoff_ensuite_extractor
  - platform: binary
    output: relay_2
    name: sonoff_bathroom_extractor
    
light:
  - platform: binary
    name: "Ensuite Mirror"
    output: relay_3
  - platform: binary
    name: "Bathroom Mirror"
    output: relay_4