substitutions:
  devicename: sonoff_cupboard

esphome:
  name: $devicename
  platform: ESP8266
  board: esp01_1m
  board_flash_mode: dout

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${devicename}_tmp

logger:
api:
ota:

binary_sensor:
  - platform: status
    name: ${devicename}_status
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_1"
    internal: true
    on_press:
      - light.toggle: external_rear
  - platform: gpio
    pin:
      number: GPIO9
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_2"
    internal: true
    on_press:
      - light.toggle: front_door
  - platform: gpio
    pin:
      number: GPIO10
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_3"
    internal: true
    on_press:
      - fan.toggle: sonoff_utility_extractor
  - platform: gpio
    pin:
      number: GPIO14
      mode: INPUT_PULLUP
      inverted: True
    name: "${devicename}_button_4"
    internal: true
    on_press:
      - light.toggle: stairs

output:
  - platform: gpio
    pin: GPIO12
    id: relay_1
  - platform: gpio
    pin: GPIO5
    id: relay_2
  - platform: gpio
    pin: GPIO4
    id: relay_3
  - platform: gpio
    pin: GPIO15
    id: relay_4

fan:
  - platform: binary
    output: relay_3
    name: Utility Extractor
    id: "sonoff_utility_extractor"

light:
  - platform: binary
    name: "External Rear"
    output: relay_1
    id: "external_rear"
  - platform: binary
    name: "Front Door"
    output: relay_2
    id: "front_door"
  - platform: binary
    name: "Stairs"
    output: relay_4
    id: "stairs"
